In [2]:
import numpy as np
import pandas as pd

In [3]:
dict = {
    "name" : ["a","b" , "c" ,"d" ,"e"],
    "marks" : [323,234,324,342,324,],
    "city" : ["nbh" , "cor" , "cna" ,"jp" ,"udp"]
}

In [4]:
df = pd.DataFrame(dict)
df

  name  marks city
0    a    323  nbh
1    b    234  cor
2    c    324  cna
3    d    342   jp
4    e    324  udp

In [12]:
# the following code is used to export the data in excel
df.to_csv('freinds.csv')
# df.head(2) #will show frist two
# df.tail(2) #will show last two

In [16]:
hry = pd.read_csv('freinds.csv')
hry['marks'][3]

np.int64(342)

In [19]:
newdf = pd.Series(np.random.rand(12))

In [20]:
newdf

0     0.469914
1     0.503709
2     0.728756
3     0.620711
4     0.391237
5     0.162827
6     0.784161
7     0.038805
8     0.837145
9     0.160485
10    0.799212
11    0.428948
dtype: float64

In [21]:
type(newdf)

pandas.core.series.Series